.pokemon {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 16px 32px;
  background: white;
}

.name {
  font-size: 50px;
  font-weight: 700;
}

.pokemon img {
  width: 250px;
}

.spec {
  display: flex;
  font-size: 18px;
  margin-top: 10px;

  > dt {
    margin-right: 6px;
  }
}

.label {
  font-weight: 700;
}
